<!DOCTYPE html>
<html>
 <head>
  <title> {{page.title}} </title>
  <link rel="stylesheet" type="text/css" herf="/css/main.css">
 </head>
 <body>
        <nav>
        <ul>
               <li><a href="/">Inicio</a></li>
               <li><a href="/acerca">Acerca de mi</a></li>
               <li><a href="/proyecto">Proyecto</a></li>
               <li><a href="/tareas">Tareas</a></li>
        </ul>
        </nav>
        <div class="container">
         {{content}} 
        <div class="blurb">
           <h1> Desarrollo de un producto para mejorar calidad de vida de personas que padecen de Parkinson</h1>
               <p> Biodiseño </p>
               </div>
               </div>
               <footer>
               <ul>
                  <li><a href="mailto:viviana.chacon@upch.pe">email</a></li>
                  <li><a href="https://github.com/vchaconc1/">github.com/vchaconc1/</a></li>
               </ul>
               </footer>
              </body>
             </html>
