<!DOCTYPE html>
<html>
 <head>
  <body background="biomedicafondo.jpg">
  <title> {{page.title}} </title>
  <link rel="stylesheet" type="text/css" herf="css/main.css">
  <link rel="stylesheet" href="css/botones.css">
  </body>
 </head>
 <body>
         <div class="container">
         {{content}} 
        <div class="blurb">
           <h1> Desarrollo de un producto para mejorar calidad de vida de personas que padecen de Parkinson</h1>
               <p> Biodiseño/INTRODUCCIÓN </p>
                <p> Solo en 2017 se estimaron cerca de 30,000 personas que padecerían de Parkinson, el cual es una segunda enfermedad neurológica y degenerativa que afecta, en su mayoría, a personas mayores de 60 años. Según el jefe del departamento de enfermedades degenerativas del Instituto Nacional de Ciencias Neurológicas, se estima 10, 000 (solo en la capital) con este mal. </p>
               <p> El Parkinson como enfermedad se produce por la falta de producción de dopamina en las células nerviosas. </p>
               <p> image 1 ---- parkinson </p>
         <h2> SINTOMAS </h2>
               <p> -Rigidez muscular ;
- Temblores en extremidades ;
- Torpeza en manos ;
- Disminución en movimiento ;
- Problemas de equilibrio y concentración ;
- En algunas personas se puede manifestar con signos de depresión, transtornos de sueño y dificultades para hablar. ;
**En el Parkinson juvenil, estos síntomas se evidencian entre la edad de 21 y 40 años, pero puede iniciar desde los 7 años.  </p>
         
          <nav>
        <ul>
               <li><a href="/">Inicio</a></li>
               <li><a href="/Proceso de fabricación">Proceso de fabricación</a></li>
               <li><a href="/proyecto">Proyecto</a></li>
               <li><a href="/Prototipo videos">Prototipo videos</a></li>
        </ul>
        </nav>
         <div class="row flex">
      <article class="column text-center">
        <header>
          <h4>Boton Base</h4>
        </header>
        
        <p>
          <a href="#" class="boton">Inicio</a>
        </p>
        
        <p>
          <a href="#" class="boton success">Proceso de fabricación</a>
        </p>
        
      </article>
      <article class="column text-center">
        <header>
          <h4>Variaciones de tamaño</h4>
        </header>
        
        <p>
          <a href="#" class="boton">Quienes somos</a>
        </p>
        <p>
          <a href="#" class="boton m">Errores y correcciones</a>
        </p>
        <p>
          <a href="#" class="boton l">Videos de prototipo</a>
        </p>
        <p>
          <a href="#" class="boton block">Galería de fotos</a>
        </p>
      </article>
      <article class="column text-center">
        <header>
          <h4>Botones con iconos</h4>
        </header>
        
        <p>
          <a href="#" class="boton icon">
            Icono a la izquierda
            <span class="icon-link"></span>
          </a>
        </p>
        <p>
          <a href="#" class="boton icon right">
            Icono a la derecha
            <span class="icon-plus2"></span>
          </a>
        </p>
      </article>
    </div>
               </div>
               </div>
               <footer>
               <ul>
                  <li><a href="mailto:viviana.chacon@upch.pe">email</a></li>
                  <li><a href="https://github.com/vchaconc1/">github.com/vchaconc1/</a></li>
               </ul>
               </footer>
              </body>
             </html>
