<!DOCTYPE html>
<html>
 <head>
  <title> {{page.title}} </title>
  <link rel="stylesheet" type="text/css" herf="css/main.css">
  <link rel="stylesheet" href="css/botones.css">
 </head>
 <body>
        <nav>
        <ul>
               <li><a href="/">Inicio</a></li>
               <li><a href="/Proceso de fabricación">Proceso de fabricación</a></li>
               <li><a href="/proyecto">Proyecto</a></li>
               <li><a href="/Prototipo videos">Prototipo videos</a></li>
        </ul>
        </nav>
        <div class="container">
         {{content}} 
        <div class="blurb">
           <h1> Desarrollo de un producto para mejorar calidad de vida de personas que padecen de Parkinson</h1>
               <p> Biodiseño </p>
         <div class="row flex">
      <article class="column text-center">
        <header>
          <h4>Boton Base</h4>
        </header>
        
        <p>
          <a href="#" class="boton">Boton base</a>
        </p>
        <p>
          <a href="#" class="boton error">Boton de error</a>
        </p>
        <p>
          <a href="#" class="boton success">Boton de success</a>
        </p>
        <p>
          <a href="#" class="boton warning">Boton de warning</a>
        </p>
      </article>
      <article class="column text-center">
        <header>
          <h4>Variaciones de tamaño</h4>
        </header>
        
        <p>
          <a href="#" class="boton">Tamaño estandar</a>
        </p>
        <p>
          <a href="#" class="boton m">Boton mediano</a>
        </p>
        <p>
          <a href="#" class="boton l">Boton grande</a>
        </p>
        <p>
          <a href="#" class="boton block">Boton ancho completo</a>
        </p>
      </article>
      <article class="column text-center">
        <header>
          <h4>Botones con iconos</h4>
        </header>
        
        <p>
          <a href="#" class="boton icon">
            Icono a la izquierda
            <span class="icon-link"></span>
          </a>
        </p>
        <p>
          <a href="#" class="boton icon right">
            Icono a la derecha
            <span class="icon-plus2"></span>
          </a>
        </p>
      </article>
    </div>
               </div>
               </div>
               <footer>
               <ul>
                  <li><a href="mailto:viviana.chacon@upch.pe">email</a></li>
                  <li><a href="https://github.com/vchaconc1/">github.com/vchaconc1/</a></li>
               </ul>
               </footer>
              </body>
             </html>
